@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&family=Roboto:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ### Primary */

  --Soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --cyan-transparent: hsla(178, 100%, 50%, 0.548);

  /* ### Neutral  */

  --main-bg: hsl(217, 54%, 11%);
  --card-bg: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
  --white-2: hsla(0, 0%, 100%, 0.692);
}

img {
  max-width: 100%;
}

/* p {
    font-weight: 300;
} */

ul {
  list-style-type: none;
}

body {
  background-color: var(--main-bg);
  color: var(--white-2);
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  padding: 1.25rem;
}

.container {
  padding: 1.25rem;
  background-color: var(--card-bg);
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

.container .main-image {
    position: relative;
}

.container .main-image .view-image {
    position: absolute;
    top: 0rem;
    background-color: var(--cyan-transparent);
    width: 100%;
    height: calc(100% - 4px);
    opacity: 0;
    transition: 0.1s ease-in-out;
}

.container .main-image .view-image:hover {
    opacity: 1;
    cursor: pointer;
}

.container .main-image .view-image img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);  
}

.container .main-text h1 {
  color: var(--white);
  margin: 1rem 0.5rem 0.5rem 0rem;
}

.container .main-text h1:hover {
    color: var(--cyan);
    cursor: pointer;
}

.description-data ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0rem;
  border-bottom: 1px solid var(--line);
}

.container .description-data ul li {
  display: flex;
  align-items: center;
}

.description-data ul li:first-child {
  color: var(--cyan);
}

.container .description-data ul li img {
  margin-right: 0.5rem;
}

.container .avatar {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-top: 2rem;
}

.container .avatar img {
  border: var(--white-2) 2px solid;
  border-radius: 50%;
  width: 3.5rem;
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.container .avatar p span {
  color: var(--white);
  font-weight: 600;
}

.container .avatar p span:hover {
    color: var(--cyan);
    cursor: pointer;
}

.attribution {
  font-size: 16px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 500px) {
    .container {
        width: 500px;
        margin: 0 auto 1rem;
    }
}